.notfound-page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: var(--nav-height);
}

.notfound-title {
  font-size: 8rem;
  color: var(--primary-accent);
  margin-bottom: 0;
  line-height: 1;
  font-weight: 900;
  opacity: 0.8;
}

.notfound-text {
  font-size: 1.5rem;
  color: var(--text-muted);
  margin-bottom: 40px;
}
